.chartContainer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 280px;
  justify-content: center;
  width: 280px;
}

.chartBalance {
  display: flex;
  gap: 5px;
  color: var(--white, #fbfbfb);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin: 0 auto;

  position: absolute;
}
