@import "../../styles/variables.css";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gradient-background);
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/register-background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.5;
}

.registrationPage {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationContainer {
  background: var(--form-background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  padding: 40px 62px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer img {
  width: 35.951px;
  height: 35.974px;
}

.logoContainer span {
  color: var(--text-color-light);
  font-size: var(--font-size-large);
}

@media (max-width: 768px) {
  .registrationContainer {
    width: 100%;
    margin: 0 20px;
  }
}
