@import "../../styles/variables.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  background: var(--background-gradient);
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.imageLeft,
.imageRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 533px;
  z-index: 1;
}

.imageLeft {
  left: 0;
}

.imageRight {
  right: 0;
}

.imageLeft img,
.imageRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background: var(--form-background);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  padding: 80px 62px;
  max-width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer img {
  width: 35.951px;
  height: 35.974px;
}

.logoContainer span {
  color: var(--text-color-light);
  font-size: var(--font-size-large);
}

@media (max-width: 768px) {
  .logInContainer {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0 20px;
  }

  .container {
    padding: 0;
  }

  .imageLeft,
  .imageRight {
    display: none;
  }
}
