/* LoginPage.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%);
  position: relative;
  overflow: hidden; /* Ascunde orice conținut care iese în afara containerului */
}

.imageLeft,
.imageRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
}

.imageLeft {
  left: 0;
}

.imageRight {
  right: 0;
}

.imageLeft img,
.imageRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logInContainer {
  position: relative;
  z-index: 2; /* Asigură-te că logInContainer este deasupra imaginilor */
  background: var(--Form-color, rgba(255, 255, 255, 0.1));
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  padding: 80px 62px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer img {
  width: 35.951px;
  height: 35.974px;
}

.logoContainer span {
  color: #fbfbfb;
  font-size: 26.963px;
}

@media (max-width: 768px) {
  .imageLeft,
  .imageRight {
    display: none; /* Ascunde imaginile pe dispozitive mobile */
  }

  .logInContainer {
    width: 100%;
    margin: 0 20px; /* Adaugă un padding lateral pe mobile */
  }
}
