.transactionsList {
  margin-top: 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  width: 280px;
  padding: 0 20px 20px 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7000ff;
}

::-webkit-scrollbar-thumb {
  background: #9e40ba;
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgb(216, 156, 78);
}
