.modalClassName {
  align-items: center;
  display: flex;
  backdrop-filter: blur(3.5px);
  background: rgba(34, 13, 91, 0.23);
  border: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.content {
  align-items: center;
  background: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 24px;
  height: 511px;
  position: absolute;
  width: 540px;
  z-index: 100000;

  width: 540px;

  border-radius: 8px;
  background: var(--Form-color, rgba(255, 255, 255, 0.1));

  /* form effects */
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}

.closeModal {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}

.closeModal svg {
  color: white;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: none;
  outline: none;
}
