/* Global styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/* scoatem marcajele listei */
ul {
  list-style-type: none;
  padding: 0;
}

/* setare necesara pentru imagini adaptive */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* scoatem underline la link */
a {
  text-decoration: none;
  display: block;
}

body {
  /* background-color: #101010; */
  position: relative;
  margin: 0;
  font-family: Poppins-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
